header(id='header')
    h1
        a(href='/') Project
    nav(class='links')
        ul
            li
                a(href='/profile') Blog
    nav(class='main')
        ul
            li(class='search')
                a(class='fa-search', href='#search') Search
                form(id='search', method='get', action='#')
                    input(type='text', name='query', placeholder='Search')
            li(class='menu')
                a(class='fa-bars', href='#menu') Menu
