extends layout

block content
	div(id='main')
		article(class='post')
			header
				div(class='title')
					h2
						a(href='#') Title Heading
					p Paragraph here...
				div(class='meta')
					time(class='published', datetime='2015-11-01') Nov. 1, 2015
					a(href='#', class='author')
						span(class='name') John Doe
						img(src='http://placehold.it/45x45')
			a(href='#', class='image featured')
				img(src='http://placehold.it/900x375')
			p Paragraph here...
			footer
				ul(class='actions')
					li
						a(href='#', class='button big') Continue Reading
				ul(class='stats')
					li
						a(href='#') General
					li
						a(href='#', class='icon fa-heart') 1
					li
						a(href='#', class='icon fa-comment') 2
		include pagination
	include sidebar
