extends layout

block wrapper
	include header
	include menu
	div(id='home')
		div(id='card')
			- for (var i = 0; i < 5; i++)
				article(class='post')
					header
						div(class='meta')
							time(class='published', datetime='2015-11-01') Nov. 1, 2015
							a(href='#', class='post-author')
								img(src='http://placehold.it/45x45')
								div(class='name') John Doe
					div(id='react')
					p
					a(href='#', class='image featured')
						img(src='http://placehold.it/900x375')
					footer
						ul(class='stats')
							li
								a(href='#', class='icon fa-heart') 1
							li
								a(href='#', class='icon fa-comment') 2
	script(text='text/javascript', src='js/build.js')
