doctype html
html
  head
    include meta
    title= title
    include ie
    link(rel='stylesheet', href='/css/core.css')
    block styles
    block scripts
  body
    block wrapper
        div(id='wrapper')
            include header
            include menu
            block content
    include footer
