section(id='menu')
    section
        form(class='search', method='get')
            input(type='text', name='query', placeholder='Search')
    section
        ul(class='links')
            li
                a(href='#')
                    h3 Menu Here
                    p paragraph here...
    section
        ul(class='actions vertical')
            li
                a(href='/account', class='button big fit') Log In
                
