section(id='sidebar')
    section(id='intro')
        a(href='#', class='logo')
            img(src='http://placehold.it/90x90')
        header
            h2 Logo
            p Headline

    section
        div(class='mini-posts')
            article(class='mini-post')
                header
                    div(class='title')
                        h3
                            a(href='#') Title Heading
                        time(class='published', datetime='2015-11-01') Nov. 1, 2015
                        a(href='#', class='author')
                            img(src='http://placehold.it/45x45')
                a(href='#', class='image')
                    img(src='http://placehold.it/400x205')

    section
        ul(class='posts')
            li
                article
                    header
                        div(class='title')
                            h3
                                a(href='#') Title Heading
                            time(class='published', datetime='2015-11-01') Nov. 1, 2015
                    a(href='#', class='image')
                        img(src='http://placehold.it/75x75')

    section(class='burb')
        h2 About
        p Something here...
        ul(class='actions')
            li
                a(href='#', class='button') Learn More

    section(id='footer')
        ul(class='icons')
            li
                a(href='#', class='fa-twitter')
                    span(class='label') Twitter
            li
                a(href='#', class='fa-facebook')
                    span(class='label') Facebook
            li
                a(href='#', class='fa-instagram')
                    span(class='label') Instagram
            li
                a(href='#', class='fa-rss')
                    span(class='label') RSS
            li
                a(href='#', class='fa-envelope')
                    span(class='label') Email
        p(class='copyright') &copy; Untitled. 2016.
