extends ../layout

block styles
	link(rel='stylesheet', href='/css/profile.css')

block content
	include sidebar
	div(id='main')
		div(id='card')
			- for (var i=0; i<3; i++)
				article
					a(href='#', class='post-author')
						img(src='http://placehold.it/45x45')
					div(class='profile-content')
						div(class='name')
							| John Doe
							time(class='published', datetime='2015-11-01') Nov. 1, 2015
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
						a(href='#', class='image featured')
							img(src='http://placehold.it/900x375')
						footer
							ul(class='stats')
								li
									a(href='#', class='icon fa-heart') 1
								li
									a(href='#', class='icon fa-comment') 2
