section(id='sidebar')
    section(class='profile')
        div(class='ph')
            h2 Pete
        a(href='#', class='avatar')
            img(src='http://placehold.it/100x100')
        div(class='pq') Dream big. Act now. Dont Stop.

    section(id='footer')
        ul(class='icons')
            li
                a(href='#', class='fa-twitter')
                    span(class='label') Twitter
            li
                a(href='#', class='fa-facebook')
                    span(class='label') Facebook
            li
                a(href='#', class='fa-instagram')
                    span(class='label') Instagram
            li
                a(href='#', class='fa-rss')
                    span(class='label') RSS
            li
                a(href='#', class='fa-envelope')
                    span(class='label') Email
        p(class='copyright') &copy; Untitled. 2016.
