extends ../layout
block styles 
	link(href='/css/form.css', type='text/css', rel='stylesheet')

block scripts
	script(src='https://www.google.com/recaptcha/api.js', async, defer)

block wrapper
	include ../header
	include ../menu
	div(id='home')
		div(id='card')
			article(class='post min settings')
				div(class='tabs')
					ul(class='nav-tab', data-tab='tab')
						if (settings)
							li(class= tab === 'settings' ? 'active' : '')
								a(href='/account/settings', data-target='#settings', title= pageTitles.settings, data-title= pageTitles.settings)
									h4 Settings
							li(class= tab === 'security' ? 'active' : '')
								a(href='/account/security', data-target='#security', title= pageTitles.security, data-title= pageTitles.security)
									h4 Security
						else
							li(class= tab === 'login' ? 'active' : '')
								a(href='/account/login', data-target='#login', title= pageTitles.login, data-title= pageTitles.login)
									h4 Please Login
							li(class= tab === 'register' ? 'active' : '')
								a(href='/account/register', data-target='#register', title= pageTitles.register, data-title= pageTitles.register)
									h4 Register
							li(class= tab === 'forgot' ? 'active' : '')
								a(href='/account/forgot', data-target='#forgot', title= pageTitles.forgot, data-title= pageTitles.forgot)
									h4 Forgot
					include login
					include forgot
					include register
					include settings
