div(class='tab-panel', id='forgot')
	form
		div(class='fg')
			div(class='addon')
				i(class='fa fa-envelope')
				input(type='text', class='form-control', placeholder='Email')
		div(class='fg')
			input(type='submit', class='button', value='Reset Password')
