.fg {
    margin-bottom: 10px;
}
.addon {
    position: relative;
}
.addon .fa {
    position: absolute;
    top: 0.9em;
    left: 0.9em;
    opacity: 0.8;
}
.addon input {
    padding-left: 2.5em !important;
}
.post form {
    margin-bottom: 1em;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
    background: #FFF !important;
}
form .message {
    background: #C3FD96;
    color: #37A216;
    padding: 1em;
    margin-bottom: 10px;
}
form .alert {
    color: #FF8787;
    font-size: 12pt;
}
form .fg.success .addon {
    color: #2ebaae;
}
form .fg.success input {
    border-color: #2ebaae;
    box-shadow: none;
}
form .fg.error .addon {
    color: #BA342E
}
form .fg.error input {
    border-color: #BA342E;
    box-shadow: none;
}
form .form-title {
    padding: 1em;
    background: #f7f7f7;
    border-bottom: 3px solid #2ebaae;
}
input[type=checkbox]+label:before, input[type=radio]+label:before {
    background: #FFFFFF !important;
    border-color: #E3E3E3 !important;
    color: #F5F5F5;
    content: '\f00c' !important;
    box-shadow: none !important;
}
input[type=checkbox]:checked+label:before, input[type=radio]:checked+label:before {
    color: #858585 !important;
    border-color: #E3E3E3 !important;
    box-shadow: none !important;
}
.loader {
    width: auto !important;
    height: auto !important;
    display: none;
}
.loader.show {
    display: inline-block;
}
.upload-cli {
    text-align: center;
}
